@model IEnumerable<ExamenNet.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal.NombreSucursal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Producto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Producto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Producto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
