@model ExamenNet.Models.Sucursal

@{
    ViewData["Title"] = "Delete";
}

<div class="container text-center">
    <h3>Estas seguro que deseas eliminar este registro ?</h3>
    <h4>Sucursal</h4>
    <hr />
    <dl class="row">
        <div class="col-12">
            <dt class="col-sm-12">
                @* @Html.DisplayNameFor(model => model.NombreSucursal) *@
                <label>Nombre Sucursal</label>
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.NombreSucursal)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Pais)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Pais)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Ciudad)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
        </div>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_Sucursal" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Regresar</a>
    </form>
</div>
