@model ExamenNet.Models.Usuarios

@{
    ViewData["Title"] = "Details";
}

<div class="container text-center">
    <h4>Usuarios</h4>
    <hr />
    <dl class="row">
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.NombreUsuario)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.PasswordUsuario)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.PasswordUsuario)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Rol)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Rol)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Sucursal)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Sucursal.NombreSucursal)
            </dd>
        </div>
    </dl>
    <div>
        <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@Model?.ID_Usuarios">Edit</a> |
        <a class="btn btn-danger btn-sm" asp-action="Index">Back to List</a>
    </div>
</div>

