@model ExamenNet.Models.Ventas

@{
    ViewData["Title"] = "Delete";
}
 
<div class="container text-center">
    <h3>Estas seguro que deseas eliminar este registro ?</h3>
    <h4>Ventas</h4>
    <hr />
    <dl class="row">
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.TipoVenta)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.TipoVenta)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.FechaVenta)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.FechaVenta)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.SubTotal)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.SubTotal)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Total)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Promociones)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Promociones.NombrePromocion)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Productos)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Productos.NombreProducto)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Usuarios)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Usuarios.NombreUsuario)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Clientes)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Clientes.NombreCliente)
            </dd>
        </div>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_venta" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Regresar</a>
    </form>
</div>
