@model ExamenNet.Models.Ventas

@{
    ViewData["Title"] = "Details";
}

<div class="container text-center">
    <h4>Detalles</h4>
    <hr />
    <dl class="row">
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.TipoVenta)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.TipoVenta)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.FechaVenta)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.FechaVenta)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.SubTotal)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.SubTotal)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Total)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Promociones)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Promociones.ID_Promocion)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Productos)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Productos.ID_Producto)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Usuarios)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Usuarios.ID_Usuarios)
            </dd>
        </div>
        <div class="col-12">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Clientes)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Clientes.ID_Cliente)
            </dd>
        </div>
    </dl>
    <div class="col-12">
        <hr />
        <a class="btn btn-danger btn-sm" asp-action="Index">Regresar</a>
        <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@Model?.ID_venta">Editar</a>        
    </div>
</div>
