@model IEnumerable<ExamenNet.Models.Promociones>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePromocion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPromocion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePromocion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPromocion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Promocion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Promocion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Promocion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
